@import "../../node_modules/bootstrap/scss/bootstrap.scss";
header {
    height: 100px;
    border-bottom: 1px solid #ececec;
    @include media-breakpoint-down(md) {
        height: auto;
        padding: 20px 0;
    }
    .headerInside {
        height: inherit;
        align-items: center;
        justify-content: space-between;
        @include media-breakpoint-down(sm) {
            justify-content: center;
            & :not(:last-child) {
                margin-bottom: 20px;
            }
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }
        .logo {
            width: 165px;
            line-height: 51px;
            background: url(../images/logo.png) no-repeat;
            font-size: 27px;
            font-weight: 300;
            padding-left: 60px;
            span {
                color: #f16d7f;
                font-weight: 400;
            }
        }
        .search {
            display: flex;
            height: 38px;
            border-radius: 3px;
            overflow: hidden;
            width: 400px;
            @include media-breakpoint-down(sm) {
                width: auto;
            }
            .searchBrowse {
                height: inherit;
                padding: 10px;
                font-size: 14px;
                line-height: 14px;
                color: #222222;
                background-color: #f9f9f9;
                box-sizing: border-box;
                border: 1px solid #e6e6e6;
                letter-spacing: 0.35px;
            }
            input {
                height: inherit;
                flex-grow: 1;
                padding: 0 3px;
                border: none;
                border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;
                outline: none;
                color: #a4a4a4;
                font-size: 14px;
                font-weight: 300;
                line-height: 32px;
                letter-spacing: 0.35px;
                @include media-breakpoint-down(lg) {
                    max-width: 250px;
                }
                @include media-breakpoint-down(md) {
                    max-width: 220px;
                }
            }
            button {
                height: inherit;
                padding: 0 8px;
                border: 0;
                background: none;
                outline: none;
                border: 1px solid #e6e6e6;
            }
        }
        .account {
            display: flex;
            justify-content: space-evenly;
            @include media-breakpoint-down(md) {
                max-width: 340px;
            }
            img {
                max-width: 32px;
                height: 29px;
                margin-top: 6px;
            }
            .myAcc {
                height: 38px;
                width: 130px;
                background-color: #f16d7f;
                color: white;
                border: none;
                outline: none;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.38px;
                margin-left: 20px;
            }
            .dropdown-menu {
                background-color: #f16d7f;
                padding: 0;
                margin: 0;
                a {
                    border: 1px solid #fff;
                    color: #fff;
                    &:hover {
                        color: #f16d7f;
                    }
                }  
            }
            #registerModal, #loginModal {
                .modal-header {
                    h4 {
                        text-transform: uppercase;
                    }
                }
                .modal-body {
                    form {
                        display: flex;
                        flex-direction: column;
                        input {
                            padding-left: 5px;
                        }
                        .btn {
                            background-color: #f16d7f;
                        }
                    }
                }
            }
        }
    }
}