@import "../../node_modules/bootstrap/scss/bootstrap.scss";
.itemsLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    padding-top: 50px;
    .product {
        margin-bottom: 35px;
        border: none;
        &:hover {
           box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
           .buyFade {
               display: flex;
               justify-content: center;
               align-items: center;
           }
        }
   
        h4 {
           color: #6f6e6e;
           font-size: 13px;
           font-weight: 400;
           text-transform: uppercase;
        }
   
        h3 {
           color: #f16d7f;
           font-size: 16px;
           font-weight: 700;
           text-transform: uppercase;
        }
        .buyFade {
           height: calc(100% - 80px);
           width: 100%;
           background: rgba(0, 0, 0, 0.5);
           display: none;
           position: absolute;
           button {
               padding: 15px;
               border: 1px solid #ffffff;
               background: none;
               color: white;
               font-size: 13px;
               font-weight: 700;
               display: flex;
               justify-content: center;
               align-items: center;
               cursor: pointer;
               outline: none;
           }
        }
    }
}