.proceedToCartBtn {
  text-align: right;
  padding: 15px 0; }
  .proceedToCartBtn button {
    width: 235px;
    height: 50px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer; }
